# See https://help.github.com/ignore-files/ for more about ignoring files.

obj
bin
.vscode

# Node dependencies
DesafioPomar/ClientApp/node_modules
DesafioPomar/ClientApp/package-lock.json

# testing
DesafioPomar/ClientApp/coverage

# production
DesafioPomar/ClientApp/build

# misc
DesafioPomar/ClientApp/.DS_Store
DesafioPomar/ClientApp/.env.local
DesafioPomar/ClientApp/.env.development.local
DesafioPomar/ClientApp/.env.test.local
DesafioPomar/ClientApp/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
